listPerson, listPlace, listOrg, p, note, bibl {
  display: block
}

person, place, org {
  display: list-item
}

title {
  font-style: italic;
}

person > persName, place > placeName, org > orgName {
  display: block;
  font-size: 120%;
  font-weight: bolder;
}

hi[rend=superscript] {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}